{% load static %}
<div class="col-lg-2 col-md-4 col-sm-6 customer-info">
    <h6 style="display: flex; justify-content: center;">
        <div hx-post="{% url 'finish' customer.id %}" hx-swap="delete" hx-target="closest .customer-info" style="cursor: pointer" class="finish-btn">
            <img src="{% static 'images/finish.png' %}" style="width:16px; height:16px">
        </div>
        &nbsp;{{ customer.name }}&nbsp;
        <div hx-post="{% url 'delete-customer' customer.id %}" hx-swap="delete" hx-target="closest .customer-info" style="cursor: pointer" class="delete-btn">
            <img src="{% static 'images/delete.png' %}" style="width:16px; height:16px">
        </div>
        <div hx-post="{% url 'add-hour' customer.id %}" hx-swap="innerHTML" hx-target="next #duration-{{customer.id}}" style="cursor: pointer" class="add-hour-btn">
            <img src="{% static 'images/timer.png' %}" style="width:16px; height:16px">
        </div>
    </h6>
    <button class="btn btn-outline-warning btn-customer" hx-get="{% url 'edit-customer' id=customer.id %}" hx-target="#dialog">
        <div class="button-content">
            <p class="timer" id="duration-{{customer.id}}" data-start-time="{{customer.start_time|date:'c'}}" data-end-time="{{customer.end_time|date:'c'}}">{{ customer.duration }}</p>
            {% if customer.gender == "male" %}
                <img src="{% static 'images/alien_boy.png' %}">
            {% elif customer.gender == "female" %}
                <img src="{% static 'images/alien_girl.png' %}">
            {% endif %}
        </div>
    </button>
</div>