{% extends "customers/layout.html" %}
{% load static %}


{% block body %}
    {% if user.is_permission_given %}
        <div class="container text-center">
            <h1>Current Activity</h1>
            <p>Choose Who Just Landed</p>
        </div>

        {% include 'customers/buttongroup.html' %}

        <div class="container bg-grey text-center activity-container" hx-get="{% url 'customers-list' %}" hx-trigger="load, customerChanged from:body" hx-target="this">
            
        </div>
        
        <!-- Modal -->
        <div id="modal" class="modal fade">
            <div id="dialog" class="modal-dialog" hx-target="this"></div>
        </div>
    {% else %}
        <div id="wait-message" class="container text-center">
            <h3>{{message}}</h3>
        </div>
    {% endif %}
    
    <div id="timezone-div" class="d-flex justify-content-center" style="font-size:smaller;">Server time zone: {{server_tz}}</div>
    
{% endblock %}