{% extends "customers/layout.html" %}
{% load static %}


{% block body %}
    {% if user.is_permission_given %}
        <div class="container text-center">
            <h1>Current Activity</h1>
            <p>Choose Who Just Landed</p>
        </div>

        {% include 'customers/buttongroup.html' %}

        <div class="container bg-grey text-center activity-container" >
            {% include 'customers/customers.html' %}
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="modal-customer-view" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div id="dialog" class="modal-dialog" hx-target="this">
                {% include 'customers/customer-form.html' %}
            </div>
        </div>
    {% else %}
        <div id="wait-message" class="container text-center">
            <h3>{{message}}</h3>
        </div>
    {% endif %}


{% endblock %}