{% extends "customers/layout.html" %}

{% block body %}
    <div class="container">
        <br>
        <h2>Register</h2>

        {% if message %}
            <div class="message-after-form">{{ message }}</div>
        {% else %}
            <br>
        {% endif %}
    
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="isOwner" name="is_owner">
                <label class="form-check-label" for="isOwner">I'm the owner</label>
            </div>
            <div class="mb-3">
                <input class="form-control" autofocus type="text" name="playroom" placeholder="Playroom Name">
            </div>
            <div class="mb-3">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="mb-3">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
        <div class="message-after-form">Already have an account? <a href="{% url 'login' %}">Log In here.</a></div>
    </div>

{% endblock %}