.container-fluid {
    padding: 10px 50px;
  }

  .activity-container {
    border: 1px solid black;
    min-height: 200px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

.activity-row img {
    border-radius: 64px;
}

.btn-icon {
    padding: 0;
    border-radius: 64px;
}

.modal-body .row {
    margin-top: 10px;
    margin-bottom: 10px;
}


.button-content {
  position: relative;
}

.button-content p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: rgba(255, 255, 255, 0.7); /* Optional: Add a background color with transparency */
  border-radius: 5px;
  text-align: center;
}


.finish-btn {
  display: none;
}


table, td, th {
  border: 0px solid black;
}


.day-info {
  display: grid;
}


.table-holder {
  display: grid;
  width: 50%;
  justify-self: end;
}


.day-detail {
  display: grid;
  justify-self: start;
}

.price-field-edit {
  max-width:100px; 
  display:unset; 
  vertical-align:bottom;
}

.price-field-edit:focus {
  box-shadow: 0 0 0 0.1rem rgba(13,202,240,.25);
}

td {
  padding-bottom: 6px;
  color: #616161;
  font-size: smaller;
}